@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
 }

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5f3c3c;
    overflow-x: hidden;
    height: 100%;
    color: rgb(245, 235, 235);
    font-family: 'Trispace', sans-serif;
    font-size: large; }
 h1{
    text-align: center;
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    padding: 0 0 1rem 0;
 }
 .container{
    margin: auto;
    display: flex;
    border-radius: 52px;
    background: #5f3c3c;
    box-shadow: -23px 23px 46px #2c1c1c,
    23px -23px 46px #925c5c;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
    width: 40rem;
    /* max-width: 80%; */
    height: max-content;
    /* max-height: 35rem;  */
    left: .5rem;
    top: 9rem;  
        
 }
.btn-grid{
    display: flex;
    gap: 20px;
}
 .btn {
    
    border-radius: 25px;
    background: #5f3c3c;
    box-shadow:  -5px 5px 10px #482e2e,
             5px -5px 10px #764a4a;
    border: none;
    padding: 1rem ;
    color: rgb(245, 235, 235);
    outline: none;
    width: 10rem;
    height: 4rem;
    overflow: auto;
 }
   #salir, #siguiente, #siguiente1, #si, #no{
    border-radius: 25px;
    background: #5f3c3c;
    box-shadow:  -5px 5px 10px #482e2e,
             5px -5px 10px #764a4a;
    border: none;
    padding: 1rem ;
    color: rgb(245, 235, 235);
    outline: none;
    width: 10rem;
    height: 4rem;
    overflow: auto;
    font-family: 'Trispace', sans-serif;
   }
   
#nota{
   display: flex;
   font-size: small;
   margin: auto;
   padding: 2rem 1rem;
}
 @media screen and (min-width: 667px) {
    body{
        overflow-x: hidden;
    }
    .container{
        margin: auto;
        display: flex;
        border-radius: 52px;
        background: #5f3c3c;
        box-shadow: -23px 23px 46px #2c1c1c,
        23px -23px 46px #925c5c;
        flex-direction: column;
        padding: 2rem;
        position: relative;
        align-self: center;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-wrap: wrap;
        width: 35rem;
        /* max-width: 80%; */
        height: max-content;
        max-height: auto;  
        left: .5rem;
        top: 1.5rem;
            
     }
    .btn-grid{
        display: flex;
        gap: 20px;
        padding: 1.5rem 0 1rem 0;
    }
     .btn {
        
        border-radius: 25px;
        background: #5f3c3c;
        box-shadow:  -5px 5px 10px #482e2e,
                 5px -5px 10px #764a4a;
        border: none;
        padding: 1rem ;
        color: rgb(245, 235, 235);
        outline: none;
        width: 10rem;
        height: 4rem;
        overflow: auto;
        font-family: 'Trispace', sans-serif;
     }
       #salir, #siguiente, #siguiente1, #siguiente2, #si, #no{
        border-radius: 25px;
        background: #5f3c3c;
        box-shadow:  -5px 5px 10px #482e2e,
                 5px -5px 10px #764a4a;
        border: none;
        padding: 1rem ;
        color: rgb(245, 235, 235);
        outline: none;
        width: 10rem;
        height: 4rem;
        overflow: auto;
       }
 }
   